@page "/Products"
@inject StoreService storeService;

<PageHeader title="Products" img="./Assets/head3.jpg" />

<div class="page__container app__flex">
  <div class="app__container-width">

    <div class="products__grid">
      @foreach (var item in storeService.storeItems)
      {
        <ItemCard id=@item.id title=@item.title imgUrl=@item.img_Url price=@item.price />



        @* <p>Item Id: @item.id </p>
          <p>Item Title: @item.title </p>
          <p>Description: @item.description</p>
          <p>Price: <b>@item.price</b></p>
          <p>Image URL : <b>@item.img_Url</b></p> *@
      }
    </div>
    <div class="item__container">
      <button>Price</button>
    </div>


  </div>
</div>


@code {







}